{% extends "base.html" %}
{% block content %}
<section id="attributions">
<div class="container attributions-content">
  <div class="attributions-header">
    <h1>Attributions</h1>
  </div>
  <div class="attributions-list">
    <ul>
      <li>Welcome Background</li>
        <ul>
          <li><a href="https://www.freepik.com/vectors/background-style">Background style vector created by freepik - www.freepik.com</a></li>
        </ul>
      <li>Projects</li>
        <ul>
          <li>Scout Girl Report</li>
            <ul>
              <li>Image by <a href="https://pixabay.com/users/paulbr75-2938186/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1548348">Paul Brennan</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1548348">Pixabay</a></li>
            </ul>
          <li>Single-User Blog</li>
            <ul>
              <li><a href="https://www.freepik.com/photos/social-media-share">Social media share photo created by rawpixel.com - www.freepik.com</a></li>
            </ul>
          <li>College Baseball Dashboard</li>
            <ul>
              <li><a href="https://proofmart.com/product/baseball-png-transparent-images-free-download-different-styles/">Baseball Image</a></li>
              <li><a href='https://www.freepik.com/vectors/coming-soon'>Coming soon vector created by starline - www.freepik.com</a></li>
            </ul>
          <li>Prospects Blog</li>
            <ul>
              <li><a href='https://www.freepik.com/vectors/coming-soon'>Coming soon vector created by starline - www.freepik.com</a></li>
            </ul>
        </ul>
    </ul>
  </div>
</div>
</section>
{% endblock %}
