<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A data analyst and full-stack developer">
    <meta name="author" content="Nick Coppola">
    <title>Nick Coppola | Analyst | Full-Stack Developer</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- Social Media Logos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/11a12507fc.js" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="stylesheet" href="">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'portfolio/css/master.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}">
    <!-- JS (defered) -->
    <script type="text/javascript" src="{% static 'portfolio/js/master.js' %}" defer></script>

  </head>
  <body class="">
  <div class="page-wrapper">
  <header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand bm-0 h1" href="{% url 'home' %}"><img class="d-inline-block align-text header-img" src="{% static "images/favicon.ico" %}" alt="">Nick Coppola</a>
      <button class="navbar-toggler hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarlinks"
      aria-controls="navbarlinks" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon1"><span></span><span></span><span></span></div>
      </button>

    <div class="collapse navbar-collapse" id="navbarlinks">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/#home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/#projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
      </ul>


      <ul class="navbar-nav socialIcons ms-auto">
        <li class="github"><a class="nav-link" href="https://github.com/coppolni" target="_blank" rel="noreferrer noopener"><i class="fa fa-fw fa-github"></i>GitHub</a></li>
        <li class="twitter"><a class="nav-link" href="https://twitter.com/?lang=en" target="_blank" rel="noreferrer noopener"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
        <li class="linkedin"><a class="nav-link" href="https://www.linkedin.com/in/nicholas-coppola-13bb9031" target="_blank" rel="noreferrer noopener"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
        <li class="angellist"><a class="nav-link" href="https://angel.co/u/nick-coppola-2" target="_blank" rel="noreferrer noopener"><i class="fa fa-fw fa-angellist"></i>AngelList</a></li>
      </ul>
    </div>
    </div>

  </nav>
  </header>

  <main>
    <div class="content-wrapper">

      {% block content %}

      {% endblock %}

    </div>

  </main>

    <!-- Site footer -->
  <footer class="site-footer mt-auto">
    <div class="container">
      <ul class="social-icons pt-3">
        <li><a class="githubf" href="https://github.com/coppolni" target="_blank" rel="noreferrer noopener"><i class="fa fa-github"></i></a></li>
        <li><a class="twitterf" href="https://twitter.com/?lang=en" target="_blank" rel="noreferrer noopener"><i class="fa fa-twitter"></i></a></li>
        <li><a class="linkedinf" href="https://www.linkedin.com/in/nicholas-coppola-13bb9031" target="_blank" rel="noreferrer noopener"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="angellistf" href="https://angel.co/u/nick-coppola-2" target="_blank" rel="noreferrer noopener"><i class="fa fa-angellist"></i></a></li>
      </ul>
    <div class="container footer-bottom">
      <hr>
      <p class="footer-one">Developed By Nick Coppola</p>
      <p class="footer-two"><a class="footer-two-text" href="{% url 'attributions' %}">Attributions</a></p>
    </div>
    </div>
  </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  </body>

</html>
