{% extends "base.html" %}
{% block content %}
<br><br>
<div class="container mycontainer">
  <div class="container welcomeheader">
    <h1 id="welcome">Welcome to My Portfolio!</h1>
  </div>
<br>
<h3>My name is Nick Coppola and I am a self-taught programmer. I created this
portfolio to document my technical skills and projects, as well as to provide
a virtual overview of my career.</h3>
<br>
<h3>Along with my coding experience, I have over six years of experience working in
Baseball Operations for three MLB teams.</h3>
<br>
<h3 id="parathree">Please check out the links above to see some of my work and to learn more about me!</h3>

<div class="contacttwo">
  <button id="contactbtn" type="button" class="btn btn-dark" name="contact">Contact Nick<i class="bi bi-arrow-right-circle" id="rightarrow"></i></button>
</div>
<br><br><br>
</div>

{% endblock %}
