<div class="container skillstext">
  <br><br>
  <div class="skillsheader">
    <h1>Skills & Certifications</h1>
    <div class="container">
      <section class="background">
        <div class="content-wrapper">
          <p class="content-title">Skills & Certifications</p>
        </div>
      </section>
      <section class="background">
        <div class="content-wrapper">
          <p class="content-title">Frontend</p>
          <p class="content-subtitle">HTML, CSS, Bootstrap, Javascript, JQuery</p>
        </div>
      </section>
      <section class="background">
        <div class="content-wrapper">
          <p class="content-title">Backend</p>
          <p class="content-subtitle">Python, Django, SQL</p>
        </div>
      </section>
      <section class="background">
        <div class="content-wrapper">
          <p class="content-title">Additional Skills</p>
          <p class="content-subtitle">Microsoft Excel, Microsoft PowerPoint, Data Analysis, Statistics, Arbitration</p>
        </div>
      </section>
      <section class="background">
        <div class="content-wrapper">
          <p class="content-title">Soft Skills</p>
          <p class="content-subtitle">Communication, Collaboration, Organization, Time Management, Leadership</p>
        </div>
      </section>
    </div>
  </div>
</div>





<div class="container skillsheader">
  <h1>Skills & Certifications</h1>
</div>
<br>
<div class="container">
  <table class="skillstable">
    <thead>
      <th>Frontend</th>
      <th>Backend</th>
      <th>Other</th>
      <th>Soft Skills</th>
    </thead>
    <tr>
      <td><i class="fa-brands fa-html5" style="color:#FF5733"></i>  HTML</td>
      <td><i class="fa-brands fa-python"></i>  Python</td>
      <td>Excel</td>
      <td>Communication</td>
    </tr>
    <tr>
      <td><i class="fa-brands fa-css3-alt"></i>  CSS</td>
      <td>Django</td>
      <td>PowerPoint</td>
      <td>Collaboration</td>
    </tr>
    <tr>
      <td><i class="fa-brands fa-bootstrap" style="color:purple"></i>  Bootstrap</td>
      <td>SQL</td>
      <td>Data Analysis</td>
      <td>Organization</td>
    </tr>
    <tr>
      <td>Javascript</td>
      <td></td>
      <td>Statistics</td>
      <td>Time Management</td>
    </tr>
    <tr>
      <td>JQuery</td>
      <td></td>
      <td>Arbitration</td>
      <td>Leadership</td>
    </tr>
  </table>
</div>

.skillstable {
  margin: auto;
}


.skillstable tr td {
  border: 2px solid black;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 28px;
  text-align: center;
}










<section id="projects" class="sectionpadding projectssection">
  <div class="container projectsection">
    <h1 class="projectstitle"><strong>PROJECTS</strong></h1>
    <h4 class="projectssubtitle">Below is a sample of some recent projects I have worked on.</h4>
    <h4 class="projectssubtitle">Please email me for more info or if you'd just like to connect!</h4>

    <div class="projectsgrid">
      <div class="columns threecolumns">
        <div class="column projectsample">
          <figure class="projectimage image">
            <img class="projectthumb" src="/static/images/Screenshot.jpg" alt="">
            <figcaption>
              <h1 class="projectsamptitle">TEST</h1>
              <a class="button projectbutton" href="#"></a><span>Visit Website</span><i></i>
            </figcaption>
          <div class="overlay"></div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>



<body class="d-flex flex-column min-vh-100">
