{% extends "base.html" %}
{% block content %}
<section id="proj-portfolio">
  <div class="container proj-welcome">
    <h1 id="proj-welcome"><strong>COLLEGE BASEBALL DASHBOARD</strong></h1>
    <h3 class="mb-4">Internal analytics and player development site for a college baseball team.</h3>
    <h3 class="mb-4">See below for more info!</h3>
    <button id="developbtn" type="button" class="btn btn-primary" name="develop"><i class="fa-solid fa-code-branch develop-logo"></i> In Development</button>
  </div>
</section>

<section id="proj-portfolio-details">
  <div class="container proj-details">
    <!-- Carousel -->
<div id="proj-carousel" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#proj-carousel" data-bs-slide-to="0" class="active"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/carousel/Abstract-Coming-Soon.jpg" alt="" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#proj-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#proj-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

  <div class="proj-details-text">
    <h3><strong>College Baseball Dashboard</strong></h3>
    <h3 class="mb-5">**IN DEVELOPMENT**</h3>
  <div class="proj-details-more">
    <a href="/#projects"><button id="backbtn" type="button" class="btn btn-primary" name="back">Go Back</button></a>
  </div>
  </div>

  </div>

</section>

{% endblock %}
